simulink_models/misc/optimized_timing_multi_module_phase_shift_generator_built_in_counter.slx
simulink_models/misc/optimized_area_multi_module_phase_shift_generator_built_in_counter.slx
simulink_models/misc/optimize_area_multi_module_phase_shift_generator_base.slx